#about{
    background-image:url("../images/Screenshot\ 2022-05-19\ 141329.png");
    background-repeat: no-repeat;
    height:109vh;
    background-size: cover;
    overflow-y: hidden;
    display: flex;
}

.info{
    font-size: 7vh;
    font-weight: bold;
}

.card{
    margin-bottom:55px;
    border: 0;
}
.description{
    font-size:3vh;
    font-weight:bold;
}
.img{
    position: relative;
    top: 0;
    left: 0;
    
}

.pic1{
    width: 55%;
    position:relative ;
    top: 0;
    left:100px;
    border: 1px white solid;
    border-radius: 60px;
}

.pic2{
    position: absolute;
    top: 36vh;
    left: 19vh;
    border: 1px white solid;
    border-radius: 60px;
}

h3{
    font-weight:bold;
}