.text{
    background-image: url(../images/contactback.jpg);
    background-repeat: no-repeat;
    height:100vh;
    background-size: cover;
    width: 100%;
}

.p-3{
    font-weight: bold;
    color: black;
}

.logo{
    width: 15%;
}

.logo2{
    padding: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-control{
    font-weight: bold;
}
.form-label{
    font-weight: bold;
}

.containercontact{
    background-color: white;
    width: 100vh;
    margin-left: 125px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    border: 50px white solid;
    border-radius: 50px;
}

.send{
    padding-left:  40vh;
}

.con{
    padding-left:  30vh;
}

.feas{
    color: #177245;
    font-weight: bold; 
    padding-left:  10vh;
}

#contact{
    margin-bottom: -350px;
}

.footer{
    margin: 0 auto;
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
}