.text{
    background-image: url(../images/contactback.jpg);
    background-repeat: no-repeat;
    height:90vh;
    background-size: cover;
    width: 100%;
}

.p-3{
    color: black;
    font-weight: bold;
}

.logo{
    width: 15%;
}

.logo2{
    padding: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-control{
    font-weight: bold;
}
.form-label{
    font-weight: bold;
}

.containercontact{
    width: 100vh;
    margin-left: 10px;
    margin-top: 10px;
}

.send{
    padding-left:  40vh;
}

.con{
    padding-left:  30vh;
}

.feas{
    color: #177245;
    font-weight: bold; 
    padding-left:  10vh;
}