.text{
    background-image: url(../images/contactback.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    height:90vh;
    background-size: cover;
    width: 100%;
    position: relative; 
    top: 0;
    z-index: 1;
    float:left;
    margin-left: 60px;
    margin-top: 10px;
    /* overflow-y: hidden; */
    }
    .p-3{
        padding:550rem;
        color: black;
        font-weight: bold;
        margin: -41vh;
    }

    .logo{
        width: 15%;
        

    }

    .logo2{
        padding: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container{
        background-color: #fff;
    z-index: 0;
    height: 150px;
    width: 280px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
        
    }
