/* .pic{
    width: 100%;
    padding-left: 20vh;
} */
.fea{
    color: #177245;
    font-weight: bold; 
}
#features{
    background-image:url("../images/background.png");
    background-repeat: no-repeat;
    height:128vh;
    background-size: cover;
    overflow-y: hidden;
    /* display: flex; */
}

.android{
    border-radius: 50px;
    width: 80%;
    margin:10vh;
}


.web{
    font-size: 6vh;
}

.contain{
    margin:10em;
}

.site{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
    /* margin:10vh; */
}

.page{
    padding: 31vh;
}

.tech{
    font-size: 3vh;
}

.icon1{
    background: #e12d2d62;
    border: 50vh;
    border-radius: 100%;
}

.icon2{
    background: #1fbab77a;
    border: 100vh;
    border-radius: 100vh;
}