
.fea{
    color: #177245;
    font-weight: bold; 
}

#features{
    background-image:url("../images/background.png");
    background-repeat: no-repeat;
    height:101vh;
    background-size: cover;
    overflow-y: hidden;
}

.android{
    border-radius: 50px;
    width: 64%;
    margin-top: 10vh;
    margin-left: 24vh;
}

.web{
    font-size: 6vh;
}

.site{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
    padding-top: 10vh;
}

.page{
    padding:13vh;
}

.tech{
    font-size: 3vh;
}

.icon1{
    background: #e12d2d62;
    border: 50vh;
    border-radius: 100%;
}

.icon2{
    background: #1fbab77a;
    border: 100vh;
    border-radius: 100vh;
}

.descriptions{
    font-size: 2.5vh;
    font-weight: bold;
}