.nav-link{
    font-size: 12px;
    font-weight: bold;
}

.nav-item{
    margin-left: 50px;
}

.navbar-brand{
    margin-left: 27vh;
}

.nav-but{
    margin-left: 90px;
}

.btns{
    color: white;
    font-weight: bold;
    border: 1px solid #177245;
    border-radius: 25% ;
    width: 20%;
    background-color:  #177245; 
}

.new{
    background-color:#2faa6d44; 
    border-radius:250px;
    margin-right: 10vh;
}

.word{
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left:9px;
    font-size: 0.8rem;
    font-weight: bold;
    justify-content: center;
}

.say{
    color: #177245;
    font-weight: bold;
}

.inside{ 
    background-color: white;
    margin-top: -5vh;
}

.banner{
    display: grid;
    grid-template-columns: 1fr 80px;
}
