.nav-link{
    font-size: 12px;
    font-weight: bold;
}

.nav-item{
    margin-left: 50px;
}

.nav-but{
    margin-left: 90px;
}
.iqhosha{
    color: white;
    font-weight: bold;
    border: 1px solid #177245;
    border-radius: 25% ;
    width: 20%;
    background-color:  #177245; 
}
.kraca{
    background-color:#2faa6d44; 
    border-radius:250px;
    /* width: 45%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */
}

.igama{
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left:9px;
    font-size: 0.8rem;
    font-weight: bold;
    justify-content: center;
}

.thetha{
    color: #177245;
    font-weight: bold;
}

.bulisa{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 1px;
    justify-content: center;
    padding-top:3.9vh;
}

.phakathi{
    background-color: white;
}


/* media queries */

@media screen and (max-width: 800px) {
    .thetha {
        width: 0;
}
.phakathi{ 
    background-color:blue;
}
}