.home{
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    background-size: cover;
    width: 100%;
    overflow-y: hidden;
    background-image:url("../images/netzeroassets.jpg");
}

.landing{
    justify-content: center;
    margin:26vh;
    padding-top: 10vh;
}

.landings{
    font-size: 12vh;
}

.rotate{
    writing-mode: tb-rl;
    transform: rotate(-360deg);
    position:absolute; 
    bottom:0;
    color:#177245;
}

.btn{
    font-weight: bold;
    font-size:3vh;
}

.icon{
    color: antiquewhite;
}

.navigation{
    display: grid;
    grid-template-columns: 1fr 80px;
}