.ekhaya{
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    height:120vh;
    /* margin: 12vh; */
    /* width:188vh; */
    background-size: cover;
    overflow-y: hidden;
    background-image:url("../images/netzeroassets.jpg");
}

.lwamkelo{
    justify-content: center;
    margin:26vh;
    padding-top: 20vh;
}

.wamkelekile{
    font-size: 12vh;
}

.rotate{
    writing-mode: tb-rl;
    transform: rotate(-360deg);
    position:absolute; 
    bottom:0;
    color:#177245;
}

.btn{
    font-weight: bold;
    font-size:3vh;
}

.icon{
    color: antiquewhite;
}


/* media queries  */

@media only screen and (min-width: 1200px) {
    .ekhaya {
        background-image:url("../images/netzeroassets.jpg");
        /* width: 195vh; */
    }
}

@media only screen and (max-width: 320px) {
    .ekhaya {
        background-image:url("../images/background.png");
        /* width: 195vh; */
    }
}